<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 725px;
        width: 70%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height:100%%
        margin: 0;
        padding: 0;
      }
      
    </style>
    <div id="map"></div>
    <script>








      var map;
      function initMap() {
    
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: { lat: <%= session[:latitude]%>, lng: <%= session[:longitude]%> }
                
            });
            var iconBase = new google.maps.MarkerImage( "<%= asset_path( 'home_icon.svg' ) %>",    
                        null, /* size is determined at runtime */
                        null, /* origin is 0,0 */
                        null, /* anchor is bottom center of the scaled image */
                        new google.maps.Size(25, 25)
                    );  
            
           

            //<%= count = 0 %>
           
            <% @homes.each do |home|%>
                 var location<%=count%> = {lat: <%=home.latitude%>, lng: <%=home.longitude%>};
                var marker<%= count%> = new google.maps.Marker({
                position: location<%=count%>,
                map: map,
                icon: iconBase
            });
            
           //Opens info window
            marker<%= count%>.addListener('mousemove', function() { 
                infowindow<%= count%>.open(map, marker<%= count%>);
            });

            // Closes info window
            marker<%= count%>.addListener('mouseout', function() { 
                infowindow<%= count%>.close();
            });

            google.maps.event.addListener(marker<%= count%>, 'click', function() {
                console.log("marker<%= count%>")
                $('#modal1').modal('open');
            });

            var contentString<%= count%>= "<p><b><%= home.address%></b></p><%= home.description%>bd. <%= home.bathroom%>ba";
             var infowindow<%= count%> = new google.maps.InfoWindow({
                content: contentString<%= count%>,
                
            });
            // <%= count +=1%>
            
            <% end %>
            
            }

           // locations = []
           // <% @homes.each do |home|%>
            //    locations.push([<%=home.latitude%>,<%=home.longitude%>])
           // <% end %>
            //console.log(locations)%>
    


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBA-qD9GOPa0R8ivtu1fUf5J4QkHsmyrqw&callback=initMap" type="text/javascript"></script>

\
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
  </div>

    

    
    
    
