<% @properties.each do |property|%>
    <% if property.images.count > 0 %>

        <% home_image = property.images[0].image.url %>

    <% else%>

        <% home_image = 'http://www.beachbreakbrasil.com/img/no-image-yet-l.jpg' %>

    <% end %>

    <% if property.rent%>

        <% title = "FOR RENT" %>

    <% else %>
        <% if property.user.agent%>
          <% title = "FOR SALE BY AGENT"%>
        <% else %>
          <% title = "FOR SALE BY OWNER"%>
        <% end %>

    <% end %>
    <div class="property-tile" style="background-image: url('<%=home_image%>');" property-id="<%= property.id %>">
        <div class="tile-info">
            <p class="tile-title"><b><%= title %></b></p>
            <p><span class="price-font">$<%= property.price.to_i%><%= '/mo' if property.rent %></span><span class="amenity-font"><%= property.bedroom %> bd | <%= property.bathroom %> br <%= "| #{property.square_feet}+ sqft" if property.square_feet %></span></p>
            <p class="grey-font"><%= property.address %></p>
        </div>
    </div>
<% end %>
