<!DOCTYPE html>
<html>
<head>
  <title>ForClosure</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: 'partials/header' %>

<div id="layout-wrapper">
  <%= yield %>
</div>
<div id="user-modal" class="modal collapsible">
  <%= render partial: "partials/user_modal" %>
</div>
<div id="location-check" have-location="<%= session[:user_coords] ? 'true' : 'false' %>" class="modal">
</div>




</body>
</html>
